<h1>#<%= "#{estimate.id} - #{estimate.title}" %></h1>
<p>Descrição: <%= estimate.description %></p>
<p>Local: <%= estimate.location %></p>
<p>Data: <%= estimate.service_date %></p>
<p>Turno: <%= estimate.day_shift %></p>
<span>Enviado para: <%= estimate.contractor.name %></span>
<span>Solicitado por: <%= estimate.user.name %></span>

<h2> Orçamento </h2> 
<% if estimate.requested?%>
  <span>Status: Solicitado pelo Usuário</span>
<% end %>
<% if estimate.approved_contractor? %>
  <span>Status: Aguardando aprovação do usuário</span>
  <span>Tempo de Execução: <%= "#{estimate.total_hours} horas" %></span>
  <span>Custo do Material: <%= number_to_currency(estimate.material_fee) %></span>
  <span>Taxa de Visita: <%= number_to_currency(estimate.visit_fee) %></span>
  <span>Custo do Serviço: <%= number_to_currency(estimate.service_fee) %></span>
  <span>Lista de Materiais: <%= estimate.material_list %></span>
  <span>Valor Total: <%= number_to_currency(estimate.total_fee) %></span>
<% end %>

