<% if @estimate.errors.any? %>
  <p>Erro ao enviar solicitação</p>
<% end %>


<%= form_for([@contractor, @estimate]) do |f| %>
  <%= f.label :description, 'Descrição do serviço' %>
  <%= f.text_area :description %>
  <%= f.label :location, 'Local' %>
  <%= f.text_field :location %>
  <%= f.label :service_date, 'Data' %>
  <%= f.text_field :service_date %>
  <%= f.label :day_shift, 'Turno' %>
  <%= f.select :day_shift, options_for_select([['Manhã'], ['Tarde'], ['Noite']]) %>
  <%= f.label :photo, 'Foto' %>
  <%= f.file_field :photo %>
  <%= f.submit 'Enviar solicitação' %>
<% end %>