<% if @estimate.errors.any? %>
  <p>Erro ao enviar solicitação</p>
<% end %>


<%= form_for([@contractor, @estimate]) do |f| %>
  <%= f.label :description %>
  <%= f.text_area :description %>
  <%= f.label :location %>
  <%= f.text_field :location %>
  <%= f.label :service_date %>
  <%= f.text_field :service_date %>
  <%= f.label :day_shift %>
  <%= f.select :day_shift, options_for_select([[t(:morning)], [t(:afternoon)], [t(:evening)]]) %>
  <%= f.label :photo %>
  <%= f.file_field :photo %>
  <%= f.submit t(:submit_estimate) %>
<% end %>