<h1><%= @category.name %></h1>

<div>
  <%= link_to 'Editar Categoria', edit_category_path(@category) %>
</div>

<h1>Prestadores de Serviço</h1>
<ul>
  <% @contractors.each do |contractor| %>
    <li>
      <p><%= contractor.name %></p>
      <small><%= contractor.category.name %></small>
    </li>
  <% end %>
</ul>

<% if @category.contractors.empty? %>
      <%= link_to 'Excluir Categoria', category_path(@category), method: :delete %>
    
<% end %>