<% if flash[:message] %>
  <p><%= flash[:message] %></p>
<% end %>

<p><%= @contractor.name %></p>
<p><%= @contractor.email %></p>
<p><%= @contractor.cpf %></p>
<p><%= @contractor&.profile&.city %></p>

<% @contractor.profile.sub_categories.each do |sub_category| %>
  <p><%= sub_category.name %></p>
<% end %>

<% if user_signed_in? %>
  <%= link_to 'Solicitar orçamento', new_contractor_estimate_path(@contractor) %>
<% end %>

<%= link_to 'Atualizar Perfil', edit_contractor_path(@contractor) %>

