<% if @category.errors.any? %>
  <p>Não foi possível editar a categoria</p>
  <% @category.errors.full_messages.each do |message| %>
    <p><%= message %></p>
  <% end %>
<% end %>

<%= form_for @category do |f| %>
  
  <%= f.label :name, 'Nome' %>
  <%= f.text_field :name %>

  <%= f.submit 'Enviar' %>

<% end %>