<h2><%= "O usuário #{@estimate.user.name} deseja que você realize o seguinte serviço: " %></h2>

<p><%= @estimate.description %></p>

<p><%= "Local: #{@estimate.location}" %></p>

<p><%= "Data: #{@estimate.service_date}" %></p>

<p><%= "Turno: #{@estimate.day_shift}" %></p>