<h2><%= t('notify_new_estimate.user_request_service', name: @estimate.user.name) %></h2>

<p><%= @estimate.description %></p>

<p><%= t('notify_new_estimate.location', location: @estimate.location) %></p>

<p><%= t('notify_new_estimate.date', service_date: @estimate.service_date) %></p>

<p><%= t('notify_new_estimate.shift', day_shift: @estimate.day_shift) %></p>