<!DOCTYPE html>
<html>
  <head>
    <title>ReparosJa</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <% if ! contractor_signed_in? && ! user_signed_in? %>
            <li><%= link_to 'Cadastrar-se como Usuário', new_user_registration_path %></li>
          <% else %>
            <% if contractor_signed_in?
              profile_path = contractor_path(current_contractor)
            elsif user_signed_in?
              profile_path = user_path(current_user)
            end %>
            <li><%= link_to 'Meu Perfil', profile_path %></li>
          <% end %>

        </ul>
      </nav>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
